<section class="about">
   <div class="junior">
    <img src="images/collins.jpg" alt="Picture of Collins">
    <span>Collins</span>
  </div>
    <p class="story">
        Web Designer, Motion and Graphic Designer. Currently studying Interactive Media Design at Fanshawe College. My mantra in life is "if you can conceive the idea then you can bring it to life...". The concept of bringing ideas to life through codes, designing on an app or building a model from scratch fascinates me and spurs me on to keep creating. Huge Football fan (Go Manchester United), and in my spare time i love to cook (or order take-out).
    </p>
    <div class="junior">
    <img src="images/collins_2.jpg" alt="Picture of Collins">
    <span>Collins</span>
  </div>

</section>

<div class="demo">
    <video class="video" src="video/Demo_Reel.mp4" muted autoplay controls></video>
    <button id="play" class="open-lightbox" href="#">Watch Video</button>
</div>