<section class="about">
   <div class="junior">
    <img src="images/collins.jpg" alt="Picture of Collins">
    <span>COLLINS</span>
  </div>
    <p class="story">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis mollitia quam, perspiciatis distinctio placeat minima, qui nostrum adipisci totam sit, accusantium earum quod magni pariatur eligendi asperiores? Voluptates, sapiente dolor!
    </p>
    <div class="junior">
    <img src="images/collins_2.jpg" alt="Picture of Collins">
    <span>COLLINS</span>
  </div>

</section>

<div class="demo">
    <video class="video" src="video/sportsnet_ad.mp4" muted autoplay controls></video>
</div>