<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
  </head>
  <body>

         <header class="mainHeader">
                <img src="images/collins_logo.svg" alt="logo" class="logo">
                <div class="burger">
                    <div class="bLine"></div>
                    <div class="bLine line2"></div>
                    <div class="bLine line3"></div>
                </div>
                <nav class="headNav">
                    <ul class="navList">
                        <li class="navitem"><a href="/">Home</a></li>
                        <li class="navitem"><a href="/about">About</a></li>
                        <li class="navitem"><a href="/portfolio">Portfolio</a></li>
                        <li class="navitem"><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </header>


    {{{body}}}

          <footer>
                <div class="mainFooter container">
                        <ul class="footerNav container">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Codepen</a></li>
                                <li><a href="#">Email</a></li>
                                <li><a href="">Github</a></li>
                                <li>
                                  <p>👋</p>
                                </li>
                        </ul>
                </div>
              
            </footer>
            <script src="/js/main.js"></script>
  </body>
            
</html>
