            <section class="background">
                <div class="box1 container">
                        <svg class="loader loader-two" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                            <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="135" stroke="#404041"/>
                            <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="85" stroke="#404041"/>
                       </svg>
                </div>
        </section>

            <section class="container port-one">
                <!-- <div class="box1"></div> -->
                <div class="box2">
                    {{#each project}}
                    <div class="deets1">
                        <h2>{{ Title }}</h2>
                        <img src="images/{{ Image }}" alt="image">

                        <a class="play" href="{{ ID }}">Watch Video</a>

                        <p class="para">{{ Description }}</p>
                    </div>
                </div>

                {{/each}}

            </section>