<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen">
    <link rel="stylesheet" href="css/main.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <title>Portfolio Page</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="mainHeader container">
                <img src="images/collins_logo.svg" alt="logo" class="logo">
                <div class="burger">
                    <div class="bLine"></div>
                    <div class="bLine line2"></div>
                    <div class="bLine line3"></div>
                </div>
                <nav class="headNav">
                    <ul class="navList">
                        <li class="navitem"><a href="index.html">Home</a></li>
                        <li class="navitem"><a href="#">About</a></li>
                        <li class="navitem"><a href="portfolio.html">Portfolio</a></li>
                        <li class="navitem"><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </header>

            <section class="background">
                <div class="box1 container">
                        <svg class="loader loader-two" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                            <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="135" stroke="#404041"/>
                            <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="85" stroke="#404041"/>
                       </svg>
                </div>
        </section>

            <section class="container port-one">
                <!-- <div class="box1"></div> -->
                <div class="box2">
                    <div class="deets1">
                        <h2 class="title">Sportsnet Ad</h2>
                        <div class="media">
                            <video class="video" src="video/sportsnet_ad.mp4" muted autoplay controls></video> 
                            <p class="para">The task was to create a beer or wine mashup for a random brand. Designing the logo, coming up with the concept of what the brand of beer or wine stands for...</p>
                        </div>
                        <div class="boxes hidden">
                            <div class="desk"></div>
                            <div class="desk"></div>
                            <div class="desk"></div>
                        </div>
                        <a id="play" class="open-lightbox anchor" href="#">Watch Video</a>
                    </div>

                    <div class="deets2">
                        <h2 class="title">Thermo-Security</h2>
                        <div class="media">
                            <img src="images/thermo.jpg" alt="mobile display of bootcamp project">
                            <p class="p-text">The task was to create a beer or wine mashup for a random brand. Designing the logo, coming up with the concept of what the brand of beer or wine stands for...</p>
                        </div>
                        <div class="boxes hidden">
                            <div class="desk"></div>
                            <div class="desk"></div>
                            <div class="desk"></div>
                        </div>
                        <a class="anchor" href="#">Read More</a>
                    </div>

                    <div class="deets3">
                        <h2 class="title">Wine Mashup</h2>
                        <div class="media">
                            <img src="images/mashup.svg" alt="mashup wine label">
                            <p class="p-text">The task was to create a beer or wine mashup for a random brand. Designing the logo, coming up with the concept of what the brand of beer or wine stands for...</p>
                        </div>
                        <div class="boxes hidden">
                            <div class="desk"></div>
                            <div class="desk"></div>
                            <div class="desk"></div>
                        </div>
                        <a class="anchor" href="#">Read More</a>
                    </div>

                    <div class="deets3">
                        <h2 class="title">Interactive infographic</h2>
                        <div class="media">
                            <img src="images/infographic.jpg" alt="infographic">
                            <p class="p-text">The task was to create a beer or wine mashup for a random brand. Designing the logo, coming up with the concept of what the brand of beer or wine stands for...</p>
                        </div>
                        <div class="boxes hidden">
                            <div class="desk"></div>
                            <div class="desk"></div>
                            <div class="desk"></div>
                        </div>
                        <a class="anchor" href="#">Read More</a>
                    </div>
                    <div class="deets3">
                        <h2 class="title">Organ Awareness</h2>
                        <div class="media">
                            <img src="images/organ_Awareness.jpg" alt="organ awareness brochure cover">
                            <p class="p-text">The task was to create a beer or wine mashup for a random brand. Designing the logo, coming up with the concept of what the brand of beer or wine stands for...</p>
                        </div>
                        <div class="boxes hidden">
                            <div class="desk"></div>
                            <div class="desk"></div>
                            <div class="desk"></div>
                        </div>
                        <a class="anchor" href="#">Read More</a>
                    </div>
                </div>
            </section>

            
            <footer>
                    <div class="mainFooter container">
                            <ul class="footerNav container">
                                    <li><a href="#">Linked-in</a></li>
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="">Github</a></li>
                                    <li>
                                      <p>👋</p>
                                    </li>
                            </ul>
                    </div>
                  
                </footer>
    
    
        <script src="js/main.js"></script>
        </div>
    </body>
    </html>